/* Fix user-agent */
@import url('https://fonts.googleapis.com/css?family=Orbitron');

* {
    box-sizing: border-box;
}

html {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

html, input {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /*Hides the scroll bars on the canvas page*/
    overflow: hidden;
}

ul {
    list-style: none;
    word-wrap: break-word;
}

/* Pages */

.pages {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.page {
    height: 100%;
    position: absolute;
    width: 100%;
}

/* Login Page */

.login.page {
    background-color: #000;
}

.login.page .form {
    height: 100px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.login.page .form .usernameInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
}

.login.page .title {
    font-size: 200%;
}

.login.page .usernameInput {
    font-size: 200%;
    letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
    color: #fff;
    font-weight: 100;
}

/* Chat page */

.chat.page {
    top: 0%;
    left: 0%;
    height: 33%;
    width: 300px;
    display: none;
}

div.scoreArea {
    font-family: "Arial Rounded MT Bold";
    font-size: 150%;
}

.score.page {
    left: 700px;
    color: white;
}

.health.page {
    left: 400px;
    color: red;
}

div.healthArea {
    font-family: "Arial Rounded MT Bold";
    font-size: 250%
}

.healthFlash.page
{
    height: 1000px;
    line-height: 1000px;
    width: 1000px;
    background-color: red;
    opacity: 0.5;
}

/* Instructions page */

.instructions.page
div {
    height: 1000px;
    line-height: 1000px;
    width: 1000px;
    background-color: black;
    color: white;
    text-align: Center;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

/* Credits page */
.credits.page
div {
    height: 1000px;
    line-height: 1000px;
    width: 1000px;
    background-color: black;
    color: white;
    text-align: Center;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.gameOver.page {
    background: black;
    overflow-x: hidden;
    font-family: 'Orbitron', sans-serif;
    padding: 40px;
    text-align: center;
}

.words {
    color: black;
    font-size: 0;
    padding: 25px;
    line-height: 100px;
    text-align: center;
}

.words span {
    font-size: 300px;
    display: inline-block;
    animation: move 4s ease-in-out infinite;
}

.words span:nth-child(2) {
    animation-delay: 0.5s;
}

.words span:nth-child(3) {
    animation-delay: 1.0s;
}

.words span:nth-child(4) {
    animation-delay: 1.5s;
}

@keyframes move {
    0% {
        transform: translate(-10%, 0);
    }
    50% {
        text-shadow: 0 15px 40px rgba(255, 0, 0, 5);
    }
    100% {
        transform: translate(20%, 0);
    }
}

/* Font */

.messages {
    font-size: 100%;
    color: white;
}

.inputMessage {
    font-size: 100%;
    color: black;
}

.log {
    color: white;
    font-size: 70%;
    margin: 5px;
    text-align: center;
}

/* Messages */

.chatArea {
    height: 100%;
    padding-bottom: 27px;
    background-color: transparent;
}

.messages {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
    color: white;
}

.username {
    font-weight: 700;
    overflow: hidden;
    padding-right: 15px;
    text-align: right;
}

/* Input */

.inputMessage {
    border: 1px solid #000;
    bottom: 0;
    height: 25px;
    left: 0;
    outline: none;
    padding-left: 10px;
    position: absolute;
    right: 0;
    width: 100%;
}

button {
    background: none;
    border: 0;
    box-sizing: border-box;
    margin: 1em;
    padding: 1em 2em;
    box-shadow: inset 0 0 0 2px black;
    color: white;
    font-size: 28px;
    font-weight: 700;
    position: relative;
    vertical-align: middle;
}

button::before, button::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.draw {
    transition: color 0.25s;
}

.draw::before, .draw::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
}

.draw::before {
    top: 0;
    left: 0;
}

.draw::after {
    bottom: 0;
    right: 0;
}

.draw:hover {
    color: white;
}

.draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%;
}

.draw:hover::before {
    border-top-color: #007EA7;
    border-right-color: #007EA7;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.draw:hover::after {
    border-bottom-color: #007EA7;
    border-left-color: #007EA7;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.drawR {
    transition: color 0.25s;
}

.drawR::before, .drawR::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
}

.drawR::before {
    top: 0;
    left: 0;
}

.drawR::after {
    bottom: 0;
    right: 0;
}

.drawR:hover {
    color: white;
}

.drawR:hover::before, .drawR:hover::after {
    width: 100%;
    height: 100%;
}

.drawR:hover::before {
    border-top-color: #007EA7;
    border-right-color: #007EA7;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.drawR:hover::after {
    border-bottom-color: #007EA7;
    border-left-color: #007EA7;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

/*
.button{
    background-color: black;
    border: none;
    border-radius: 40px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {color: white; background-color: purple}

.button:active{
    background-color: black;
    transform: translateY(4px);
}

.buttonReturn{
    background-color: white;
    border: none;
    border-radius: 10px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonReturn:hover {background-color: grey}

.buttonReturn:active{
    background-color: grey;
    transform: translateY(4px);
}*/